<div class="dashboard">
  <h1>Hello, {{user}}</h1>
  <div class="modules">

    <section>
      <h2>Temperature:</h2>
      <div class="data">
        <p ng-show="!Cshowing">{{data.fahrenheit}}°C</p>
        <button  ng-click="Cshowing = !Cshowing">
          <span ng-show="!Cshowing"> Fahrenheit </span>
          <span ng-show="Cshowing"> Celsius </span>
        </button>
      </div>
    </section>
    <section>
      <h2>Garage Door:</h2>
      <div class="data">
        <p>{{data2.doors}}</p>
      </div>
    </section>
    <section>
      <h2>Light:</h2>
      <div class="data">
        <p>{{data3.value}}</p>
      </div>
    </section>
    <section>
      <h2>Sprinklers:</h2>
      <div class="data">
        <p>{{data4.value}}</p>
      </div>
    </section>
    <section class="alert">
      <h2>Alerts</h2>
    </section>
  </div>
  <div ng-repeat='weather in weatherData'>
    <h1>{{weather.precipIN}}</h1>
    <h3>{{weather.avgTempF}}</h3>
    <p>{{weather.weather}}</p>
  </div>
</div>
