<div class="dashboard">
  <h1>Hello, {name}</h1>
  <div class="modules">
    <section>
      <h2>Current Temperature:</h2>
      <div class="data">
        <p>{{data.fahrenheit}}°C</p>
      </div>
    </section>
    <section>
      <h2>Garage Door:</h2>
      <div class="data">
        <p>{{data2.doors}}</p>
      </div>
    </section>
    <section>
      <h2>Light:</h2>
      <div class="data">
        <p>{{data3.value}}</p>
      </div>
    </section>
    <section>
      <h2>Sprinklers:</h2>
      <div class="data">
        <p>{{data4.value}}</p>
      </div>
    </section>
    <section class="alert">
      <h2>Alerts</h2>
    </section>
  </div>
</div>
