<div class="home">

<iframe width="600" height="315" src="https://www.youtube.com/embed/0VQmFPolMc0" frameborder="0" allowfullscreen></iframe>

  <div class="btns">
    <button class="bigbtn notSelected"
      ng-click="isLoginOpen = !isLoginOpen; isSignupOpen = false">
      Login
    </button>
    <button class="bigbtn notSelected"
      ng-click="isSignupOpen = !isSignupOpen; isLoginOpen = false">
      Signup
    </button>
  </div>

  <form ng-show="isLoginOpen" name="loginForm" ng-submit="loginUser(username, password)">
    <center>Login</center>
    <label for="username"> Username </label>
      <input type="text" name="username" ng-model="username">
    <label for="password"> Password </label>
      <input type="password" name="password" ng-model="password">
    <button type="password"> Login </button>
  </form>

  <form ng-show="isSignupOpen" novalidate name="SignupForm" ng-submit="addUser(username, password, zip)">
    <center>Signup</center>
    <label for="username"> Username </label>
      <input type="text" id="username" ng-model="username">
    <label for="password"> Password </label>
      <input type="password" id="password" ng-model="password">
    <label for="zip"> Zip Code </label>
      <input type="number" id="zip" ng-model="zip">
    <button type="submit"> Submit </button>
  </form>

  <section class="description">
    <p>SmartHome is a home automation app. Features include current temperature
       inside or outside your home, room light status, monitoring open doors, and
       recommendation on whether you should water your lawn or garden based on the
       local weather forecast. <br><br>
       On the personal dashboard, users can see the temperature readings, status of
       their doors, sprinkler system advice, motion light status, and weather
       forecast for the week.
    </p>
  </section>

</div>
