<div class="home">

  <div class="btns">
    <button class="bigbtn notSelected"
      ng-click="isLoginOpen = !isLoginOpen; isSignupOpen = false">
      Login
    </button>
    <button class="bigbtn notSelected"
      ng-click="isSignupOpen = !isSignupOpen; isLoginOpen = false">
      Signup
    </button>
  </div>

  <form ng-show="isLoginOpen" name="loginUser">
    <center>Login</center>
    <label for="username"> Username </label>
      <input type="text" name="username">
    <label for="password"> Password </label>
      <input type="text" name="password">
    <button type="password"> Login </button>
  </form>

  <form ng-show="isSignupOpen" novalidate name='addNewuser' ng-submit='addUser(view.form)'>
    <center>Signup</center>
    <label for="username"> Username </label>
      <input type="text" id="username" ng-model="view.form.username">
    <label for="password"> Password </label>
      <input type="text" id="password" ng-model="view.form.password">
    <label for="zip"> Zip Code </label>
      <input type="number" id="zip" ng-model="view.form.zip">
    <label for="phone"> Phone Number </label>
      <input type="number" ng-model='view.form.phone' placeholder="ex: (999)123-4567">
    <button type="submit"> Submit </button>
  </form>

  <section class="description">
    <p>Description of company/app:
      <br>SmartHome is a home automation app.  Features include the current temperature inside your home and right outside your house, monitors your open doors and includes alerts if you’ve left a door open, and looks to the weather forecast to advise you whether you need to water your lawn based on the upcoming weather forecast.

      On the dashboard, users can see the temperature readings, status of their doors and any alerts.  Users can set a time limit for how long their door can be open before receiving an alert.  This is great for the forgetful person who leaves the garage door open.</p>
  </section>

</div>
