@import "mixins";
@import "colors";
@import "font";

*{
  box-sizing: border-box;
}

html{
  background-color: $darkblue;
}

header{
  @include flex-width(center, auto);
  @include colors(auto, $white);
  border-bottom: $slate 20px solid;
  padding-bottom: 0.5vw;
  font-family: 'Roboto Mono', monospace;
}

nav{
  @include flex-width(space-between, 80%);
  align-items: flex-end;
  .brand{
    display: flex;
    align-items: center;
    margin:0.5vw 0.5vw 0.5vw 0;
    .logo{
      height:5vw;
      width: 5vw;
    }
    h1{
      color:$lightblue;
      padding-left: 1vw;
      margin: 0;
    }
  }
}

a{
  text-decoration: none;
  color:$lightblue;
  &:hover{
    color: $yellow;
  }
}

main{
  @include flex-width(center, auto);
  @include colors($white, $darkblue);
}

.dashboard{
  width:80%;
  h1{
    font-family: 'Roboto Mono', monospace;
  }
}

.modules{
  @include flex-width(space-between, 100%);
  section{
    width: 23%;
    @include colors($gray, $white);
    padding: 0 1vw;
    margin:2vw 0 5vw 0;
    border: 10px $white solid;
    h2{
      height:4vw;
    }
  }
  .alert{
    border: 10px $red solid;
  }
}

.home{
  @include flex-width(center, 80%);
  flex-direction: column;
  align-items: center;
  form{
    display: flex;
    flex-direction: column;
    width: 30%;
    @include colors($gray, $white);
    margin: 0 0 2vw 0;
    border: 10px $white solid;
    input, button{
      margin-bottom: 1vw;
    }
    button{
      @include colors($white, $slate);
      font-weight: bold;
      border: 0;
      padding: .5vw;
      &:hover{
        @include colors(black, $lightblue);
      }
    }
  }
  .description{
    width:100%;
    @include colors($gray, $white);
    padding: 1vw;
    margin:0 0 5vw 0;
    border: 10px $white solid;
  }
}

.btns{
  @include flex-width(center, 80%);
  .bigbtn{
    @include colors($white, $slate);
    width:200px;
    padding: 20px;
    margin: 2vw 1vw;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    border: 0;
    &:hover{
      @include colors(black, $lightblue);
    }
  }
}
